{{define "content"}}
    <div class="container-fluid">
        <h1 class="display-5">Projects <a href="/providers/list" class="btn btn-outline-success btn-sm">Create new project</a></h1>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range $key, $project := .Content.Projects }}
                    <tr>
                        <th scope="row">{{ $project.Id }}</th>
                        <td>{{ $project.Name }}</td>
                        <td>
                            <span class="badge badge-{{ $project.StatusColor }}">{{ $project.StatusTitle }}</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a href="/builds/run?projectId={{ $project.Id }}" class="btn btn-sm btn-primary {{ if (lt $project.Status 3) }} disabled {{ end }}">Run build</a>
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/projects/deploy?projectId={{ $project.Id }}">Deploy keys</a>
                                    <a class="dropdown-item" href="/projects/plan?projectId={{ $project.Id }}">Build plan</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/hooks/list?projectId={{ $project.Id }}">Hook list</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{ else }}
                    <tr>
                        <td colspan="4" class="text-center">
                            <h1 class="display-5">Empty list. <a href="/providers/list">Add your first project</a></h1>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
{{end}}