{{define "content"}}
    <div class="container-fluid">
        <h1 class="display-5">Your projects <a href="/providers/list" class="btn btn-outline-success btn-sm">Create new project</a></h1>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range $key, $project := .Content.Projects }}
                    <tr>
                        <th scope="row">{{ $project.Id }}</th>
                        <td>{{ $project.Name }}</td>
                        <td>
                            {{ if $project.Status }}
                                <span class="badge badge-success">Enabled</span>
                            {{ else }}
                                <span class="badge badge-info">Not enabled</span>
                            {{ end }}
                        </td>
                        <td>
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    {{ if $project.Plan }}
                                        <a class="dropdown-item" href="/builds/run?projectId={{ $project.Id }}">Run Build</a>
                                        <div class="dropdown-divider"></div>
                                    {{ end }}
                                    <a class="dropdown-item" href="/projects/plan?projectId={{ $project.Id }}">Configure plan</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{ else }}
                    <tr>
                        <td colspan="4" class="text-center">
                            <h1 class="display-5">Empty list. <a href="/providers/list">Add your first project</a></h1>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
{{end}}