{{define "content"}}
    <div class="container">
        <h4 class="display-5 text-center">Build plan of &laquo;{{ .Content.Project.Name }}&raquo;</h4>
        {{if .Content.Message}}
            <div class="alert alert-danger" role="alert">{{ .Content.Message }}</div>
        {{end}}
        <div class="card">
            <div class="card-header text-white bg-info">Step: Cloning repository</div>
            <div class="card-body bg-dark">
                <pre class="card-text text-info">The first step is to automatically clone your project</pre>
            </div>
        </div>
        <form action="/projects/plan?projectId={{ .Content.Project.Id }}" method="post">
            <div class="card">
                <div class="card-header text-white bg-primary">Step: Build project</div>
                <div class="card-body bg-dark">
                    <pre class="card-text text-info">The second step is to build your project</pre>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="text-white">Make your bash script to build project</label>
                        <textarea name="plan" class="form-control" id="exampleFormControlTextarea1" rows="6" required>{{ if .Content.Project.BuildPlan }}{{ .Content.Project.BuildPlan }}{{ end }}</textarea>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-white bg-primary">Step: Deploy project</div>
                <div class="card-body bg-dark">
                    <pre class="card-text text-info">The third step is deployment your project</pre>
                    <div class="form-group">
                        <label for="dir" class="text-white">Specify the project folder to be deployed, leave blank if you need to copy the entire project</label>
                        <input type="text" name="artifact_dir" class="form-control" value="{{ if .Content.Project.ArtifactDir }}{{ .Content.Project.ArtifactDir }}{{ end }}"/>
                    </div>

                    <div class="form-group">
                        <label for="server" class="text-white">Choose server if it remote deploy</label>
                        <select class="form-control" id="server" name="server_id">
                            <option value="0">Local</option>
                            {{ range $key, $server := .Content.Servers }}
                                <option value="{{ $server.Id }}">{{ $server.Name }}</option>
                            {{ end }}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="dir" class="text-white">Indicate the absolute path to the server directory into which you want to deploy the application</label>
                        <input type="text" name="deploy_dir" class="form-control" value="{{ if .Content.Project.DeployDir }}{{ .Content.Project.DeployDir }}{{ end }}" required/>
                    </div>
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-outline-success float-right" value="Save plan">
            <br>
            <br>
            <br>
        </form>
    </div>
{{end}}