sessionName = "bicycle-session"
sessionSecretKey = "" #random string like TkT)#}!A74{~pnj?

[web]
host = "0.0.0.0"
port = "8090"

[db]
user=""
pass=""
name=""

[github]
clientId = ""
clientSecret = ""
oAuthHost = "https://github.com"
apiHost = "https://api.github.com"
image = "https://apptractor.ru/wp-content/uploads/2019/05/github-octocat.png"

[telegram]
host = "https://api.telegram.org"
token = ""
chatId = ""