{{define "content"}}
    <div class="col col-sm-10 offset-1">
        <section class="content-header">
            <h1>Список серверов
                <a href="/servers/create" class="btn btn-flat btn-success btn-sm float-right">
                    <i class="fas fa-plus"></i>
                    Создать сервер
                </a>
            </h1>
        </section>

        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Имя сервера</th>
                        <th>Пользователь</th>
                        <th>Хост сервера</th>
                        <th>Действия</th>
                    </tr>
                    {{ range $key, $server := .Content.Servers }}
                        <tr>
                            <th scope="row">{{ $server.Id }}</th>
                            <td>{{ $server.Name }}</td>
                            <td>{{ $server.Login}}</td>
                            <td>{{ $server.Host}}</td>
                            <td>
                                <a href="/servers/create?serverId={{ $server.Id }}">
                                    Редактировать
                                </a>
                            </td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{end}}