{{define "content"}}
    <div class="col col-sm-10 offset-1">
        <section class="content-header">
            <h1>VCS триггеры проекта &laquo;{{ .Content.Project.Name }}&raquo;
                <a href="/hooks/create?projectId={{ .Content.Project.Id }}" class="btn btn-flat btn-success btn-sm float-right">
                    <i class="fas fa-plus"></i>
                    Создать VCS триггер
                </a>
            </h1>
        </section>

        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>VCS событие</th>
                        <th>Целевая ветка</th>
                    </tr>
                    {{ range $key, $hook := .Content.Hooks }}
                        <tr>
                            <th scope="row">{{ $hook.Id }}</th>
                            <td>{{ $hook.Event }}</td>
                            <td>{{ $hook.Branch }}</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{end}}