{{define "content"}}
<div class="col col-sm-8 offset-2">
    <div class="card {{ if (eq .Content.Build.Status 0) }}card-primary{{ end }} {{ if (eq .Content.Build.Status 2) }}card-danger{{ end }} {{ if (eq .Content.Build.Status 1) }}card-success{{ end }}">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-archive"></i> Сборка проекта &laquo;{{ .Content.Project.Name }}&raquo;
            </h3>

            {{ if eq .Content.Build.Status 1 }}
                <a href="/projects/detail?id={{ .Content.Project.Id }}" class="btn btn-xs btn-primary float-right">
                    <i class="fas fa-cloud-upload-alt"></i> Развернуть
                </a>
            {{ end }}
        </div>
        <div class="card-body text-center">

            <table class="table table-sm text-left">
                <tbody>
                <tr>
                    <th style="width: 200px">План сборки:</th>
                    <td>{{ .Content.Build.GetProjectBuildPlan.Title }}</td>
                </tr>
                <tr>
                    <th>Пользователь:</th>
                    <td>{{ .Content.Build.GetUser.Login }}</td>
                </tr>
                <tr>
                    <th>Время запуска:</th>
                    <td>{{ .Content.Build.StartedAt }}</td>
                </tr>
                {{ if .Content.Build.EndedAt }}
                    <tr>
                        <th>Время завершения:</th>
                        <td>{{ .Content.Build.EndedAt }}</td>
                    </tr>
                    <tr>
                        <th>Продолжительность:</th>
                        <td>{{ .Content.Build.GetProcessTime }}</td>
                    </tr>
                {{ end }}
                {{ if .Content.Build.IsArtifactExists }}
                    <tr>
                        <th>Артефакт сборки:</th>
                        <td><a href="/builds/artifact?id={{ .Content.Build.Id }}">{{ .Content.Build.GetArtifactName }}</a></td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
            <br>

            {{ range $key, $stepResult := .Content.Steps }}
                <div class="card {{ if (eq $stepResult.Status 0) }}card-primary{{ end }} {{ if (eq $stepResult.Status 1) }} collapsed-card card-danger{{ end }} {{ if (eq $stepResult.Status 2) }}collapsed-card card-success{{ end }}">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-shoe-prints"></i> {{ $stepResult.Name }}</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body text-left" {{ if (ne $stepResult.Status 0) }}style="display: none;"{{ end }}>
                        {{ if (eq $stepResult.Status 0) }}
                            <pre class="card-text text-info"> In process... </pre>
                        {{ end }}

                        {{if $stepResult.StdOut }}
                            <pre class="card-text text-info">{{ $stepResult.StdOut }}</pre>
                        {{end}}

                        {{if $stepResult.StdErr }}
                            <pre class="card-text text-warning">{{ $stepResult.StdErr }}</pre>
                        {{end}}

                        {{if $stepResult.Error }}
                            <pre class="card-text text-danger">{{ $stepResult.Error }}</pre>
                        {{end}}
                    </div>
                </div>
            {{ end }}
        </div>
        <div class="card-footer">
            <hr>
            <a href="/builds/run?id={{ .Content.Build.Id }}" class="btn btn-sm btn-primary {{ if eq .Content.Build.Status 0 }} disabled {{ end }}">
                <i class="fas fa-redo-alt"></i> Повторить сборку
            </a>
            <a href="/projects/detail?id={{ .Content.Project.Id }}" class="btn btn-sm btn-primary float-right">Ok</a>
        </div>
    </div>
</div>
<br>
<br>
<br>
{{end}}