url = ""

[db]
user=""
pass=""
name=""

[github]
clientId = ""
clientSecret = ""
oAuthHost = "https://github.com"
apiHost = "https://api.github.com"
image = "https://apptractor.ru/wp-content/uploads/2019/05/github-octocat.png"

[telegram]
host = "https://api.telegram.org"
token = ""
chatId = ""