{{define "content"}}
    <div class="col col-sm-10 offset-1">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-bell"></i> Список проектов</h3>
                <a href="/hooks/create?projectId={{ .Content.Project.Id }}" class="btn btn-success btn-sm float-right">
                    <i class="fas fa-plus"></i> Создать VCS триггер
                </a>
            </div>

            <div class="card-body p-0">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>VCS событие</th>
                        <th>Целевая ветка</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $key, $hook := .Content.Hooks }}
                        <tr>
                            <th scope="row">{{ $hook.Id }}</th>
                            <td>{{ $hook.Event }}</td>
                            <td>{{ $hook.Branch }}</td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}