{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bicycle-CI</title>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/static/css/fontawesome.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/adminlte.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/adminlte.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="/" class="brand-link">
                <img src="/static/images/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text">Bicycle-CI</span>
            </a>

            {{if .User.Login }}
                <div class="sidebar">
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
{{/*                            <img src="/static/images/helmet.png" class="img-circle elevation-2" alt="User Image">*/}}
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">{{ .User.Login }}</a>
                        </div>
                    </div>
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <a href="/" class="nav-link">
                                    <i class="nav-icon fas fa-boxes"></i>
                                    <p>Сборки</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/projects/list" class="nav-link">
                                    <i class="nav-icon fas fa-folder"></i>
                                    <p>Проекты</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/servers/list" class="nav-link">
                                    <i class="nav-icon fas fa-server"></i>
                                    <p>Сервера</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/docker/images/list" class="nav-link">
                                    <i class="nav-icon fas fa-toolbox"></i>
                                    <p>Docker образы</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            {{ end }}
        </aside>
        <div class="content-wrapper">
            <br>
            {{template "content" .}}
        </div>
    </div>
</body>
</html>
{{end}}