{{define "content"}}
    <div class="container-fluid">
        <h1 class="display-2">How it works?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa delectus distinctio fugit illum magni modi
            nihil omnis, quia quis quo sequi, tenetur vel. Ad amet animi aperiam aspernatur atque aut autem cum delectus
            deserunt distinctio dolor dolores ducimus esse et harum, illo impedit, ipsa, iusto labore laboriosam neque
            odit optio quibusdam quisquam quod quos rerum sequi similique soluta tempore temporibus totam ullam vitae.
            Dolore doloribus natus nemo nostrum pariatur perferendis rem, suscipit tenetur veritatis? Asperiores ducimus
            ea iste nesciunt placeat possimus, quod recusandae totam velit voluptate. Accusamus ad, dicta dignissimos
            dolore earum, eius eligendi ex, facilis iure modi nesciunt nisi qui quisquam sunt ullam! At ex facere fugit
            inventore ipsa libero necessitatibus nobis optio perferendis placeat provident sed sequi, similique soluta
            tempora tenetur voluptates? Aliquid doloremque dolores ducimus enim ipsam iste iusto mollitia non numquam,
            obcaecati officia pariatur quis quos rem temporibus unde veniam voluptas. Accusamus adipisci alias
            aspernatur assumenda atque autem beatae commodi cupiditate dolore doloribus eligendi eos eum ex
            exercitationem fugit harum hic id incidunt laboriosam laborum magnam magni minus modi mollitia nam neque
            nihil nostrum placeat praesentium provident quod, totam, unde velit. Amet aspernatur assumenda aut
            blanditiis commodi consequatur, corporis eaque enim esse eum expedita hic ipsam magni maiores nemo neque
            nihil optio praesentium quos repellendus repudiandae sint suscipit tenetur totam ut veritatis vero
            voluptatem? Accusamus aliquid architecto asperiores blanditiis dolor, error expedita harum maxime neque
            nihil non perspiciatis quia, quod rem veniam veritatis vero vitae. Accusamus atque autem culpa delectus
            doloribus dolorum enim harum hic id omnis perspiciatis, possimus qui, repellat, vitae voluptatibus. Ad
            adipisci architecto aut consectetur consequuntur corporis cum debitis doloremque ducimus eos est explicabo
            hic ipsam provident quae quaerat quam, quas quisquam tempore velit, veniam vitae voluptatibus! Ab accusamus
            ad autem consectetur deserunt dicta doloremque dolores doloribus earum expedita, mollitia non odit provident
            quas, sapiente soluta, vel voluptates! Fuga laborum molestiae nostrum suscipit vero? Beatae doloribus,
            rerum. Animi aperiam corporis cum cumque cupiditate deserunt doloremque est explicabo fuga fugiat iste
            labore magni minima nobis officia porro possimus provident quidem quisquam recusandae rem, repellat sapiente
            soluta totam ullam voluptate voluptates? Ad aliquam, architecto dicta distinctio, error harum illo illum
            labore laboriosam non officiis optio provident quas quia quos sed tempore ut voluptas? A accusamus aliquid
            blanditiis cumque doloribus ea eligendi ex facere hic ipsa iste laudantium nemo nesciunt nihil, nobis
            obcaecati odit omnis perspiciatis qui, quia quibusdam ratione reprehenderit, rerum sint sit soluta ullam
            unde veniam voluptate voluptatum? Amet dolore dolores doloribus dolorum explicabo fugiat inventore labore,
            laudantium nihil nostrum pariatur provident quod quos reiciendis soluta. Animi officia recusandae
            reiciendis. Ad alias aliquid amet architecto assumenda autem beatae delectus distinctio dolor dolore,
            dolorem earum eius esse est eum exercitationem facere, fugit harum, illo illum ipsa iste labore laudantium
            minima minus numquam officia perspiciatis quas quibusdam quidem saepe sapiente sunt ullam veniam veritatis
            vitae voluptatibus. Ad aliquid amet aspernatur at autem consectetur delectus deleniti dicta doloribus
            dolorum ducimus eaque eius, explicabo facilis ipsum iste magni maiores minima minus nihil nostrum odit
            officia perspiciatis placeat provident, quidem reiciendis reprehenderit rerum sit totam ullam ut vitae
            voluptate! Ab ad adipisci aliquam animi aut blanditiis culpa cum deleniti deserunt dicta dignissimos
            eligendi facere fugit, harum hic in ipsum iure laborum magnam magni minima nihil praesentium quae quasi
            quidem quis quo reprehenderit sunt suscipit totam unde ut velit voluptates. Accusamus ad aperiam aspernatur
            dolore doloribus eaque, eum ex expedita facere id molestias nobis quae quisquam ratione reiciendis
            reprehenderit sapiente sit vitae. Aspernatur, autem consectetur consequuntur deleniti dignissimos dolore
            dolorum eos, exercitationem fugit magnam nobis non nostrum praesentium provident quaerat quis vel? Aperiam
            assumenda aut beatae blanditiis consequuntur corporis cum dolor earum eveniet harum impedit itaque maxime
            modi nam natus nisi nobis officiis pariatur placeat provident quos repellat, repellendus saepe sapiente sint
            suscipit temporibus totam ullam veniam veritatis. Culpa deleniti excepturi facilis ipsum laudantium modi
            natus nostrum omnis quas ut? Ab amet aut, commodi consequuntur culpa cupiditate dicta doloremque eligendi
            est et excepturi hic, ipsam iure iusto modi natus officia officiis perspiciatis quae quia, quod tempora
            voluptate! Animi commodi ducimus enim exercitationem fugit laudantium, nulla recusandae repellat
            reprehenderit repudiandae? Aliquid amet corporis dolor ea eligendi magnam quas qui repellendus sed totam.
            Aperiam asperiores commodi consequatur deleniti distinctio dolorem eos exercitationem facilis, fugiat,
            officiis, praesentium repudiandae unde voluptates? Adipisci alias asperiores atque aut debitis eaque eum
            fugiat harum laudantium maxime minima minus molestias, necessitatibus nisi non obcaecati optio perferendis
            praesentium provident quam quas quod, quos recusandae sunt, totam vero voluptas. Error incidunt laborum odit
            quas sit ut. Accusamus ad alias, aperiam asperiores beatae commodi cupiditate, deleniti distinctio dolorum
            esse facere libero minus nemo nisi quibusdam ratione reiciendis sunt tempora ullam ut velit voluptatem
            voluptates! Aperiam blanditiis, doloremque doloribus exercitationem, laudantium minus mollitia nobis nulla
            odit quisquam reiciendis repellendus repudiandae sint tenetur voluptatem. At atque earum eum expedita fugiat
            incidunt minus molestiae neque nesciunt nulla quam quis rem repellat soluta tempora, vitae voluptatum? A
            animi assumenda debitis delectus deserunt enim eos et ex expedita facere facilis illum ipsam itaque, iure,
            iusto nam necessitatibus nesciunt numquam officiis placeat praesentium provident repellat, saepe similique
            ullam vel vitae! Aspernatur aut corporis ea error esse exercitationem facilis fugit iste laudantium
            molestiae nisi officia pariatur perferendis praesentium quibusdam, quis soluta voluptatem voluptatum. Alias
            doloremque esse hic ipsa nisi, voluptas. Adipisci at consectetur esse in minus molestiae nulla recusandae
            similique tempora unde. Aliquid aspernatur assumenda, autem delectus eos excepturi illo iste iusto magnam
            maiores maxime natus non odio quas sed totam voluptatum. Ad architecto aspernatur atque corporis deleniti
            dolorem enim eos excepturi fugit harum in inventore iste itaque, laudantium libero maxime odit omnis
            praesentium quae quas quasi qui quia sed sequi similique sint suscipit velit vero voluptatem voluptatibus.
            Accusamus aliquid asperiores aspernatur at aut, beatae excepturi itaque laborum nam odit, officiis quidem
            ratione sequi, soluta sunt. Accusamus aliquam deserunt dignissimos dolores error eveniet ex, exercitationem
            fugiat, harum id impedit itaque iusto libero maiores molestias obcaecati quas quasi quos sed, sint vel vitae
            voluptas! A blanditiis eaque eligendi, est inventore laborum libero magni maiores nemo nisi temporibus,
            totam, vero?</p>
    </div>
{{end}}