{{define "content"}}
    <div class="col col-sm-10 offset-1">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-boxes"></i> Последние сборки</h3>
            </div>

            <div class="card-body p-0">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Проект</th>
                            <th>Статус сборки</th>
                            <th>Время начала сборки</th>
                            <th>Время окончания сборки</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $key, $build := .Content.Builds }}
                            <tr>
                                <th scope="row">{{ $build.Id }}</th>
                                <td>{{ $build.Project.Name }}</td>
                                <td>
                                    <a href="/builds/watch?buildId={{ $build.Id }}">
                                        <span class="badge badge-{{ $build.StatusColor }}">{{ $build.StatusTitle }}</span>
                                    </a>
                                </td>
                                <td>{{ $build.StartedAt }}</td>
                                <td>{{ if $build.EndedAt }} {{ $build.EndedAt }} {{ end }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}