{{define "content"}}
    <div class="col col-sm-10 offset-1">
        <section class="content-header">
            <h1>Последние сборки</h1>
        </section>

        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Проект</th>
                        <th>Статус сборки</th>
                        <th>Время начала сборки</th>
                    </tr>
                    {{ range $key, $build := .Content.Builds }}
                        <tr>
                            <th scope="row">{{ $build.Id }}</th>
                            <td>{{ $build.Project.Name }}</td>
                            <td>
                                <a href="/builds/watch?buildId={{ $build.Id }}">
                                    <span class="badge badge-{{ $build.StatusColor }}">{{ $build.StatusTitle }}</span>
                                </a>
                            </td>
                            <td>
                                {{ $build.StartedAt }}
                            </td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{end}}