{{define "content"}}
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h2>Build of {{ .Content.Project.Name }}</h2>
            </div>
            <ul class="list-unstyled">
                <div class="card-body text-left">
                    {{ range $key, $stepResult := .Content.Output }}
                        <div class="card">
                            <div class="card-header text-white {{ if $stepResult.Status }}bg-success{{ else }} bg-danger {{ end }}">Step: {{ $stepResult.Name }}</div>
                            <div class="card-body bg-dark">
                                {{if $stepResult.StdOut }}
                                    <pre class="card-text text-info">{{ $stepResult.StdOut }}</pre>
                                {{end}}

                                {{if $stepResult.StdErr }}
                                    <pre class="card-text text-warning">{{ $stepResult.StdErr }}</pre>
                                {{end}}

                                {{if $stepResult.Error }}
                                    <pre class="card-text text-danger">{{ $stepResult.Error }}</pre>
                                {{end}}
                            </div>
                        </div>
                        <br>
                    {{ end }}
                </div>
            </ul>
            <div class="card-footer text-muted">
{{/*                <a href="/projects/list" class="btn btn-info">Ok</a>*/}}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    {{ if (eq .Content.Build.Status 0)}}
        <script>
            setTimeout(function() {
                location.reload();
            }, 500);
        </script>
    {{ end }}
{{end}}