{{define "content"}}
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h2>Build of {{ .Content.Project.Name }}</h2>
            </div>
            <ul class="list-unstyled">
                <div class="card-body text-left">
                    {{ range $key, $stepResult := .Content.Output }}
                        <div class="card {{ if (eq $stepResult.Status 0) }}bg-primary{{ end }} {{ if (eq $stepResult.Status 1) }}bg-danger{{ end }} {{ if (eq $stepResult.Status 2) }}bg-success{{ end }}">
                            <div class="card-header text-white">
                                Step: {{ $stepResult.Name }}
                            </div>
                            <div class="card-body bg-dark">
                                {{ if (eq $stepResult.Status 0) }}

                                    <pre class="card-text text-info"> In process... </pre>
                                {{ end }}

                                {{if $stepResult.StdOut }}
                                    <pre class="card-text text-info">{{ $stepResult.StdOut }}</pre>
                                {{end}}

                                {{if $stepResult.StdErr }}
                                    <pre class="card-text text-warning">{{ $stepResult.StdErr }}</pre>
                                {{end}}

                                {{if $stepResult.Error }}
                                    <pre class="card-text text-danger">{{ $stepResult.Error }}</pre>
                                {{end}}
                            </div>
                        </div>
                        <br>
                    {{ end }}
                </div>
            </ul>
            <div class="card-footer text-muted">
                <a href="/projects/list" class="btn btn-sm btn-primary">Ok</a>
                <a href="/builds/run?projectId={{ .Content.Project.Id }}" class="btn btn-sm btn-primary {{ if (lt .Content.Project.Status 3) }} disabled {{ end }}">Rerun</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    {{ if (eq .Content.Build.Status 0)}}
        <script>
            setTimeout(function() {
                location.reload();
            }, 500);
        </script>
    {{ end }}
{{end}}