{{define "content"}}
    <div class="col col-sm-10 offset-1">
        <section class="content-header text-center">
            <h1>Выберите VCS систему проекта</h1>
        </section>

        {{if .Content.Message}}
            <div class="alert alert-danger" role="alert">{{ .Content.Message }}</div>
        {{end}}


        <div class="row">
            {{ range $key, $provider := .Content.Providers }}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="small-box bg-gradient-primary">
                        <div class="inner">
                            <h3>{{ $provider.GetTitle }}</h3>
                        </div>
                        <div class="icon">
                            <i class="{{ $provider.GetImageUrl }}"></i>
                        </div>
                        <a href="{{ $provider.GetAuthLink }}" class="small-box-footer">
                            Выбрать репозиторий <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
{{end}}