{{define "content"}}
    <div class="col col-sm-10 offset-1">
        <h4><i class="fas fa-folder"></i> {{ .Content.Project.Name }}</h4>
        <hr>
        <div class="row">
            <div class="col col-sm-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-cogs"></i> Планы сборок</h3>

                        <a href="/projects/plan/build?projectId={{ .Content.Project.Id }}" class="btn btn-success btn-xs float-right">
                            <i class="fas fa-plus"></i> Добавить новый план
                        </a>
                    </div>

                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Имя сборки</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{ range $key, $plan := .Content.BuildPlans }}
                                    <tr>
                                        <th scope="row">{{ $plan.Id }}</th>
                                        <td>{{ $plan.Title }}</td>
                                        <td><a href="/projects/plan/build?projectId={{ $plan.ProjectId }}&id={{ $plan.Id }}"> Редакировать </a></td>
                                    </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col col-sm-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-cloud-upload-alt"></i> Релиз планы</h3>
                        <a href="/projects/plan/deploy?projectId={{ .Content.Project.Id }}" class="btn btn-success btn-xs float-right">
                            <i class="fas fa-plus"></i> Добавить новый план
                        </a>
                    </div>

                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Имя деплоймента</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{ range $key, $plan := .Content.DeployPlans }}
                                    <tr>
                                        <th scope="row">{{ $plan.Id }}</th>
                                        <td>{{ $plan.Title }}</td>
                                        <td><a href="/projects/plan/deploy?projectId={{ $plan.ProjectId }}&id={{ $plan.Id }}"> Редакировать </a></td>
                                    </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}