{{define "content"}}
    <div class="col col-sm-10 offset-1">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-folder"></i> Список проектов</h3>
                <a href="/vcs/list" class="btn btn-success btn-sm float-right">
                    <i class="fas fa-folder-plus"></i> Создать проект
                </a>
            </div>

            <div class="card-body p-0">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Имя проекта</th>
                        <th>Статус</th>
{{/*                        <th>Действия</th>*/}}
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $key, $project := .Content.Projects }}
                        <tr>
                            <th scope="row">{{ $project.Id }}</th>
                            <td><a href="/projects/detail?id={{ $project.Id }}">{{ $project.Name }}</a></td>
                            <td>
{{/*                                <span class="badge badge-{{ $project.StatusColor }}">{{ $project.StatusTitle }}</span>*/}}
                            </td>
{{/*                            <td>*/}}
{{/*                                <div class="btn-group">*/}}
{{/*                                    {{ if (lt $project.Status 3) }} disabled {{ end }}*/}}
{{/*                                    <a href="/builds/run?projectId={{ $project.Id }}" class="btn btn-primary btn-xs ">*/}}
{{/*                                        <i class="fas fa-play"></i> Собрать*/}}
{{/*                                    </a>*/}}
{{/*                                    <button type="button" class="btn btn-xs btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">*/}}
{{/*                                        <span class="sr-only">Toggle Dropdown</span>*/}}
{{/*                                    </button>*/}}
{{/*                                    <div class="dropdown-menu dropdown-menu-right">*/}}
{{/*                                        <a class="dropdown-item" href="/projects/plan?projectId={{ $project.Id }}">*/}}
{{/*                                            <i class="fas fa-cogs"></i>*/}}
{{/*                                            План сборки*/}}
{{/*                                        </a>*/}}
{{/*                                        <div class="dropdown-divider"></div>*/}}
{{/*                                        <a class="dropdown-item" href="/projects/deploy?projectId={{ $project.Id }}">*/}}
{{/*                                            <i class="fas fa-key"></i>*/}}
{{/*                                            VCS ключи*/}}
{{/*                                        </a>*/}}
{{/*                                        <a class="dropdown-item" href="/hooks/list?projectId={{ $project.Id }}">*/}}
{{/*                                            <i class="fas fa-bell"></i>*/}}
{{/*                                            VCS триггеры*/}}
{{/*                                        </a>*/}}
{{/*                                    </div>*/}}
{{/*                                </div>*/}}
{{/*                            </td>*/}}
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}