{{define "content"}}
    <div class="col col-sm-10 offset-1">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-folder"></i> Список проектов</h3>
                <a href="/vcs/list" class="btn btn-success btn-sm float-right">
                    <i class="fas fa-folder-plus"></i> Создать проект
                </a>
            </div>

            <div class="card-body p-0">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Имя проекта</th>
                        <th>Пользователь</th>
                        <th>Кол-во сборок</th>
                        <th>Кол-во релизов</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $key, $project := .Content.Projects }}
                        <tr>
                            <th scope="row">{{ $project.Id }}</th>
                            <td><a href="/projects/detail?id={{ $project.Id }}">{{ $project.Name }}</a></td>
                            <td>{{ $project.GetUser.Login }}</td>
                            <td>{{ $project.GetBuildsCount }}</td>
                            <td>{{ $project.GetDeploysCount }}</td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}