{{define "content"}}
    <div class="col col-sm-10 offset-1">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-code-branch"></i> Список репозиториев</h3>
            </div>

            <div class="card-body p-0">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Репозиторий</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $key, $project := .Content.ProjectsToEnable }}
                        <tr>
                            <td>{{ $project.Name }}</td>
                            <td>
                                {{ if not $project.Status }}
                                    <a href="/projects/create?providerId={{ $project.Provider }}&repoName={{ $project.RepoName }}&repoOwner={{ $project.RepoOwnerName }}"
                                       class="btn btn-primary btn-sm">
                                        <i class="fas fa-folder-plus"></i> Создать проект
                                    </a>
                                {{ else }}
                                    <span class="badge badge-{{ $project.StatusColor }}">{{ $project.StatusTitle }}</span>
                                {{ end }}
                            </td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}