{{define "content"}}
    <div class="container text-center">
        <h1 class="display-5">Choose VSC provider</h1>
        {{if .Content.Message}}
            <div class="alert alert-danger" role="alert">{{ .Content.Message }}</div>
        {{end}}
        <div class="row">
            {{ range $key, $provider := .Content.Providers }}
                <div class="col col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ $provider.GetImageUrl }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ $provider.GetTitle }}</h5>
                            <a href="{{ $provider.GetAuthLink }}" class="btn btn-outline-success">Connect account</a>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
{{end}}