{{define "content"}}
    <div class="col col-sm-10 offset-1">
        <section class="content-header text-center">
            <h1>Выберите VCS систему проекта</h1>
        </section>

        {{if .Content.Message}}
            <div class="alert alert-danger" role="alert">{{ .Content.Message }}</div>
        {{end}}


        <div class="row">
            {{ range $key, $provider := .Content.Providers }}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="{{ $provider.GetAuthLink }}">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua">
                                <img src="{{ $provider.GetImageUrl }}" alt="...">
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">{{ $provider.GetTitle }}</span>
                                <span class="info-box-number">Подключить</span>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
{{end}}